<li class="list-group-item bg-grey-steel no-padding-sides">
    <div class="form-group clearfix">
        <label class="col-md-8 control-label no-padding-sides font-grey-cascade">
            Show all records on one page?
        </label>
        <div class="col-md-4 no-padding-sides text-right">
            <input type="checkbox" class="showAllRecords">
        </div>
    </div>
</li>