<div class="btn-group">
    <a class="dropdown btn btn-default margin-right-10" href="javascript:;" data-toggle="dropdown">
        <i class="ioptions fa fa-cog"> Options</i> <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-large hold-on-click pull-right">
        <li>
            <div class="margin-top-10">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <a href="/" class="no-underline caption-subject font-green-sharp bold uppercase">
                                Options
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group margin-top-10">
                            {% block items %}{% endblock items %}
                        </div>
                        <div>
                            <button type="button" class="btn green-haze btn-block btn-sm"><i class="fa fa-refresh"></i> Reset all options to Default</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="portlet-input input-inline input-small">
    <div class="">
        <input type="text" class="form-control input-circle searchText" placeholder="Search...">
    </div>
</div>