<a class="btn btn-circle btn-icon-only btn-default accordion-toggle collapsed tooltips" data-toggle="collapse" data-parent="#accordionActions{{ portletId }}" href="#collapseOptions{{ portletId }}" aria-expanded="false" data-original-title="Options">
    <i class="icon-wrench"></i>
</a>
<a href="#" class="btn btn-circle btn-default btn-fullscreen btn-icon-only fullscreen" data-original-title="" title="">
</a>
<a class="btn btn-circle btn-icon-only btn-default tooltips" href="javascript:;" data-original-title="Help">
    <i class="icon-speech font-purple"></i>
</a>