<div class="portlet light bordered {% block extraclass %}{% endblock %}">
    <div class="portlet-title">
        <div class="caption">
            <a href="/" class="no-underline caption-subject font-blue-steel bold uppercase popovers"
                  data-container="body" data-trigger="hover"
                  data-placement="right"
                  data-content="{% block popover_text %}{% endblock popover_text %}"
                  data-original-title="{% block popover_title %}{% endblock popover_title %}">{% block caption %}{% endblock caption %}
            </a>
        </div>
        <div class="inputs">
            {% block inputs %}

            {% endblock inputs %}
        </div>
        <div class="actions">
            {% block actions %}

            {% endblock actions %}
        </div>
    </div>
    <div class="portlet-body">
        {% block body %}{% endblock body %}
    </div>
    <div class="clearfix"></div>
</div>