<div class="portlet light {% block extraclass %}{% endblock %}">
    <div class="portlet-title tabbable-line {% block titleextraclass %}{% endblock titleextraclass %}">
        <div class="caption font-blue-steel">
            <i class="{% block captionicon %}{% endblock captionicon %} font-blue-steel"></i>
            <span class="caption-subject bold uppercase">{% block caption %}{% endblock caption %}</span>
            <span class="caption-helper">{% block captionhelper %}{% endblock captionhelper %}</span>
        </div>
        <div class="inputs {% block inputsclass %}{% endblock inputsclass %}">
            {% block inputs %}

            {% endblock inputs %}
        </div>
        <div class="actions margin-left-10">
            {% block actions %}

            {% endblock actions %}
        </div>
        <ul class="nav nav-tabs">
            {% block nav %}

            {% endblock nav %}
        </ul>
    </div>
    <div class="portlet-body">
        {% block body %}{% endblock body %}
    </div>
    <div class="clearfix"></div>
</div>