    <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
            <i class="icon-magnifier"></i>
            <input type="text" class="form-control searchText" placeholder="search...">
        </div>
    </div>
    {% block items %}
    {% endblock items %}